In [1]:
# !pip install pandas
import pandas as pd

In [ ]:


df = pd.read_csv("../v0/AARTIIND__EQ__NSE__NSE__MINUTE.csv")

In [4]:
print(df.head().to_markdown())

|    | timestamp                 |   open |   high |   low |   close |   volume |
|---:|:--------------------------|-------:|-------:|------:|--------:|---------:|
|  0 | 2017-01-02 09:15:00+05:30 |  340   |  340   | 340   |   340   |       11 |
|  1 | 2017-01-02 09:16:00+05:30 |  340   |  340   | 340   |   340   |        0 |
|  2 | 2017-01-02 09:17:00+05:30 |  340   |  340   | 340   |   340   |        0 |
|  3 | 2017-01-02 09:18:00+05:30 |  340   |  343.7 | 340   |   343.7 |        1 |
|  4 | 2017-01-02 09:19:00+05:30 |  343.7 |  343.7 | 343.7 |   343.7 |        1 |

In [3]:
df = pd.read_csv("../processed_data/processed_v0/processed_AARTIIND__EQ__NSE__NSE__MINUTE.csv")

In [5]:
print(df.tail(7).to_markdown())

|        | timestamp                 |    open |    high |     low |   close |   volume |   rolling_avg_10 |   volume_sum_10 |   future_close |   target | stock_symbol   |
|-------:|:--------------------------|--------:|--------:|--------:|--------:|---------:|-----------------:|----------------:|---------------:|---------:|:---------------|
| 370451 | 2021-01-01 15:23:00+05:30 | 1259.9  | 1260.75 | 1259.15 | 1260.4  |     1015 |          1260.42 |           24574 |           1260 |        0 | AARTIIND       |
| 370452 | 2021-01-01 15:24:00+05:30 | 1260.4  | 1261.4  | 1259.45 | 1261.05 |     1077 |          1260.46 |           24909 |           1260 |        0 | AARTIIND       |
| 370453 | 2021-01-01 15:25:00+05:30 | 1261.05 | 1261.4  | 1259.5  | 1260    |      771 |          1260.46 |           24298 |            nan |        0 | AARTIIND       |
| 370454 | 2021-01-01 15:26:00+05:30 | 1260    | 1261    | 1259.6  | 1260.85 |      902 |          1260.45 |           21497 |            nan |        0 | AARTIIND       |
| 370455 | 2021-01-01 15:27:00+05:30 | 1260.9  | 1260.9  | 1259.6  | 1260.1  |     1104 |          1260.32 |           19647 |            nan |        0 | AARTIIND       |
| 370456 | 2021-01-01 15:28:00+05:30 | 1260.5  | 1260.9  | 1259.6  | 1260    |     2484 |          1260.2  |           21727 |            nan |        0 | AARTIIND       |
| 370457 | 2021-01-01 15:29:00+05:30 | 1259.6  | 1260    | 1257.2  | 1260    |      834 |          1260.2  |           15301 |            nan |        0 | AARTIIND       |

In [5]:
dfa = pd.read_parquet("../processed_data/processed_v0/processed_AARTIIND__EQ__NSE__NSE__MINUTE.parquet")
print(dfa.head().to_markdown())

|    | timestamp                 |   open |   high |   low |   close |   volume |   rolling_avg_10 |   volume_sum_10 |   future_close |   target | stock_symbol   |
|---:|:--------------------------|-------:|-------:|------:|--------:|---------:|-----------------:|----------------:|---------------:|---------:|:---------------|
|  0 | 2017-01-02 09:15:00+05:30 |  340   |  340   | 340   |   340   |       11 |          340     |              11 |         341    |        1 | AARTIIND       |
|  1 | 2017-01-02 09:16:00+05:30 |  340   |  340   | 340   |   340   |        0 |          340     |              11 |         339    |        0 | AARTIIND       |
|  2 | 2017-01-02 09:17:00+05:30 |  340   |  340   | 340   |   340   |        0 |          340     |              11 |         338    |        0 | AARTIIND       |
|  3 | 2017-01-02 09:18:00+05:30 |  340   |  343.7 | 340   |   343.7 |        1 |          340.925 |              12 |         338.95 |        0 | AARTIIND       |
|  4 | 2017-01-02 09:19:00+05:30 |  343.7 |  343.7 | 343.7 |   343.7 |        1 |          341.48  |              13 |         337.5  |        0 | AARTIIND       |

In [6]:
dfb = pd.read_parquet("../processed_data/processed_v0/processed_ABCAPITAL__EQ__NSE__NSE__MINUTE.parquet")
print(dfb.head().to_markdown())

|    | timestamp                 |   open |   high |   low |   close |      volume |   rolling_avg_10 |   volume_sum_10 |   future_close |   target | stock_symbol   |
|---:|:--------------------------|-------:|-------:|------:|--------:|------------:|-----------------:|----------------:|---------------:|---------:|:---------------|
|  0 | 2017-09-01 09:44:00+05:30 |    250 |    250 |   250 |     250 | 1.73428e+06 |              250 |     1.73428e+06 |            250 |        0 | ABCAPITAL      |
|  1 | 2017-09-01 09:45:00+05:30 |    250 |    250 |   250 |     250 | 0           |              250 |     1.73428e+06 |            250 |        0 | ABCAPITAL      |
|  2 | 2017-09-01 09:46:00+05:30 |    250 |    250 |   250 |     250 | 0           |              250 |     1.73428e+06 |            250 |        0 | ABCAPITAL      |
|  3 | 2017-09-01 09:47:00+05:30 |    250 |    250 |   250 |     250 | 0           |              250 |     1.73428e+06 |            250 |        0 | ABCAPITAL      |
|  4 | 2017-09-01 09:48:00+05:30 |    250 |    250 |   250 |     250 | 0           |              250 |     1.73428e+06 |            250 |        0 | ABCAPITAL      |

In [7]:
dfa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369761 entries, 0 to 369760
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   timestamp       369761 non-null  datetime64[ns, pytz.FixedOffset(330)]
 1   open            369244 non-null  float64
 2   high            369244 non-null  float64
 3   low             369244 non-null  float64
 4   close           369244 non-null  float64
 5   volume          369244 non-null  float64
 6   rolling_avg_10  369742 non-null  float64
 7   volume_sum_10   369742 non-null  float64
 8   future_close    369761 non-null  float64
 9   target          369761 non-null  int64
 10  stock_symbol    369761 non-null  object
dtypes: datetime64[ns, pytz.FixedOffset(330)](1), float64(8), int64(1), object(1)
memory usage: 31.0+ MB

In [8]:
dfb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308690 entries, 0 to 308689
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   timestamp       308690 non-null  datetime64[ns, pytz.FixedOffset(330)]
 1   open            308665 non-null  float64
 2   high            308665 non-null  float64
 3   low             308665 non-null  float64
 4   close           308665 non-null  float64
 5   volume          308665 non-null  float64
 6   rolling_avg_10  308675 non-null  float64
 7   volume_sum_10   308675 non-null  float64
 8   future_close    308690 non-null  float64
 9   target          308690 non-null  int64
 10  stock_symbol    308690 non-null  object
dtypes: datetime64[ns, pytz.FixedOffset(330)](1), float64(8), int64(1), object(1)
memory usage: 25.9+ MB